@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}